<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>Pokemon Team</h1>
  <% @party.each do |pokemon| %>
    <a href="/pokemon/<%= pokemon.id %>">
      <div class="pokemon-card" id="<%= pokemon.id %>">
      <h3><%= pokemon.name %> Lv. <%= pokemon.level %></h3>
      <img src="<%= pokemon.img_front %>">
    </div>
    </a>
  <% end %>  
  <script src="team.js"></script>
</body>
</html>
